.btn-style {
    background-color: #5986af;
    border: 1px solid black;
}
.input-style{
    border: 1px solid #5986af;
}
.link-style{
    color: #5986af;
    text-decoration:underline;
}
.link-patient{
    color: #5986af;
}
.div-form{
    width: 40%;
    height: 40%;
    border: 5px solid #5986af;
}
.header-style{
    font-size: 30px;
}
.back-img{
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.div-registro{
    width: 40%;
    height: 40%;
    margin:auto;
    margin-top:10%;
    border: 5px solid #5986af;
}
.img-envelope{
    width: 10%;
    height: 10%;
    margin:auto;
}
.div-sobre{
    width: 40%;
    height: 40%;
    margin:auto;
    margin-top:2%;
    border: 5px solid #5986af;
}
.required_field{
    color: red;
}
.img-contact{
    width: 15%;
    height: 15%;
    margin:auto;
}