.bg-img{
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-color-custom, .btn-custom{
    background-color: #5986af;
}
.btn-custom{
    border: 1px solid black;
}
.link-custom{
    color: #5986af;
    text-decoration:underline;
} 
.border-custom{
    border: 1px solid #5986af;
}
.div-custom{
    width: 40%;
    height: 40%;
    border: 5px solid #5986af;
    margin:auto;
}
.h-custom{
    font-size: 30px;
}
.img-envelope, .img-contact{
    margin:auto;
}
.img-envelope{
    width: 10%;
    height: 10%;
}
.img-contact{
    width: 80px;
    height: 75px;
}
.icon-custom{
    width: 90px;
    height: 90px;
}
.h-icon-custom{
    width: 45px;
    height: 45px;
}
.required-field:after{
    content: ' *';
    color: red;
}
.vh-max{
    height: 100vh;
}